{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-primary">Профіль користувача</h2>
                <hr>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img src="https://ui-avatars.com/api/?name={{ current_user.username }}&background=random" class="rounded-circle mb-3" width="150">
                    </div>
                    <div class="col-md-8">
                        <h4>{{ current_user.username }}</h4>
                        <p class="text-muted">{{ current_user.email }}</p>
                        <p>ID користувача: {{ current_user.id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}