


html.light {
    --bg-color: #f8f9fa;     
    --text-color: #212529;   
    --card-bg: #ffffff;      
    --border-color: #dee2e6; 
    --link-color: #0d6efd;   
    --table-color: #212529;  
}


html.dark {
    --bg-color: #212529;
    --text-color: #f8f9fa;
    --card-bg: #343a40;
    --border-color: #495057;
    --link-color: #6ea8fe; 
    --table-color: #f8f9fa;
}



body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    padding-bottom: 50px; 
}


.card {
    background-color: var(--card-bg);
    color: var(--text-color);
    border-color: var(--border-color);
    transition: background-color 0.3s, color 0.3s;
}


.table {
    color: var(--table-color);
    border-color: var(--border-color);
}


html.dark .table-striped > tbody > tr:nth-of-type(odd) > * {
    color: var(--table-color);
}
html.dark .form-control {
    background-color: #495057;
    color: var(--text-color);
    border-color: var(--border-color);
}
html.dark .form-control::placeholder {
    color: #ced4da;
}



a {
    color: var(--link-color);
}

h1, h2, h3, h4, h5 {
    color: var(--text-color);
}

.text-muted {
    color: #6c757d !important;
}


.my-custom-box {
    padding: 20px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}