{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='images/photo.jpg') }}" class="img-fluid rounded-circle" alt="Моє фото">
        </div>
        
        <div class="col-md-8">
            <h1>Михайло</h1>
            <p class="lead">QA</p>
        </div>
    </div>

    <hr>

    <section id="about" class="my-4">
        <h2>Про себе</h2>
        <p> QA engeneer з 2 роками досвіду</p>
    </section>

    <section id="education" class="my-4">
        <h2>Освіта</h2>
        <ul>
            <li>
                <strong>Карпатський національний університет імені Василя Стефаника</strong><br>
                Спеціальність: Інженерія програмного забезпечення (ІПЗ)<br>
                (2024 - по теперішній час, 3-й курс)
            </li>
            
        </ul>
    </section>

    <section id="skills" class="my-4">
        <h2>Навички та Технології</h2>
        <ul>
            <li><strong>Postman</strong> PHP, Laravel (2 роки досвіду), C++</li>
            <li><strong>Methodologies:</strong> Understanding of OOP, MVC architecture, REST API principles</li>
            <li><strong>Інструменти</strong> Postman (API Testing, Collections, Monitors), Chrome DevTools, Git.</li>
        </ul>
    </section>

    

{% endblock %}